<div class="book-club-header">
	<div class="book-club-header-gradient">
		<h1>Welcome to<br> Book Club</h1>
	</div>
</div>

<div class="main-page-groups row">
	<h1 class="section-header">Popular Groups</h1>
	<%= render "group_card_no_hidden", object: @groups %>
</div>

<div class="row">
	<h1 class="section-header">Popular Books</h1>
	<%= render "book_card", object: @books %>
</div>