<div class="row">
	<h1>Popular Groups</h1>
	<%= render "group_card_no_hidden", object: @groups %>
</div>

<div class="row group-previous-books">
	<h1>Popular Books</h1>
	<%= render "book_card", object: @books %>
</div>