@import "constants";

.book-card.columns + .book-card.columns:last-child {
	float: left;
}

.book-card {
	height: 260px;
	color: black;
	padding: 15px;

	a {
		display: inline-block;
		height: 230px;
		width: 100%;
		// border-radius: 30px;
		// background-image: radial-gradient(circle farthest-corner, white, #E4E4E4);
		color: black;
		// box-shadow: 0px 0px 10px #888888;

		&:hover {
			box-shadow: 2px 2px 4px #888888;
			color: black;
			transform: translate(-2px, -2px);
			&:active {
				box-shadow: 1px 1px 3px #888888;
				color: black;
				transform: translate(-1px, -1px)
			}
		}

		.book-card-title {
			p {
				margin: 0;
				text-overflow: ellipsis;
				word-wrap: break-word;
				overflow: hidden;
				max-height: 30px;
				line-height: 30px;
				text-align: center;
				font-weight: bold;
			}
		}

		.book-card-image {
			height: 200px;
			width: 50%;
			img {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				box-shadow: 0px 0px 10px #888888;
				max-height: 190px;
			}
		}
		.book-card-info {
			width: 50%;
			p {
				margin: 0;
				font-size: 13px;
			}

			.book-card-genres {
				font-size: 11px;
			}
		}
	}
}