@import "constants";

.book-page-main {
	background: $green1;
	padding: 20px 0;

	.book-page-image {
		text-align: center;

		img {
			max-height: 400px;
		}
	}

	.book-page-info {

		.book-page-desc {
			font-size: 14px;
		}

		.book-page-publisher {
			font-size: 11px;
		}
	}
}

.book-page-groups {
	background: $turquoise1;
}