$red0: #AF0B0B;	// Main Primary color */
$red1: #E34848;
$red2: #D41C1C;
$red3: #910000;
$red4: #6B0000;

$turquoise0: #076969;	// Main Secondary color (1) */
$turquoise1: #2B8888;
$turquoise2: #117F7F;
$turquoise3: #005757;
$turquoise4: #004040;

$green0: #70A30A;	// Main Secondary color (2) */
$green1: #A4D443;
$green2: #8CC61A;
$green3: #5A8700;
$green4: #436400;