// $red0: #AF0B0B;	// Main Primary color */
// $red1: #E34848;
// $red2: #D41C1C;
// $red3: #910000;
// $red4: #6B0000;

// $turquoise0: #076969;	// Main Secondary color (1) */
// $turquoise1: #2B8888;
// $turquoise2: #117F7F;
// $turquoise3: #005757;
// $turquoise4: #004040;

// $green0: #70A30A;	// Main Secondary color (2) */
// $green1: #A4D443;
// $green2: #8CC61A;
// $green3: #5A8700;
// $green4: #436400;

$red0: #AF0B0B;	// Main Primary color */
$red1: #E94C4C;
$red2: #D91C1C;
$red3: #8D0000;
$red4: #620000;

$turquoise0: #076969;	// Main Secondary color (1) */
$turquoise1: #2D8C8C;
$turquoise2: #118282;
$turquoise3: #005555;
$turquoise4: #003B3B;

$green0: #70A30A;	// Main Secondary color (2) */
$green1: #A8D947;
$green2: #90CB1A;
$green3: #588400;
$green4: #3D5C00;
