@import "constants";

.group-card.columns + .group-card.columns:last-child {
	float: left;
}

.group-card {
	margin-bottom: 15px;
	a {
		display: inline-block;
		height: 170px;
		width: 100%;
		border-radius: 2px;
		box-shadow: 0px 0px 1px $turquoise4;

		&:hover {
			box-shadow: 0px 0px 7px $turquoise4;
			color: black;
			&:active {
				box-shadow: 0px 0px 5px $turquoise4;
			}
		}
		.group-card-picture {
			height: 170px;
			background-size: 100%;
			border-radius: 2px;
			position: relative;

			.group-card-gradient {
				height: 170px;
				border-radius: 2px;
				background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

				.group-card-absolute {
					position: absolute;
					bottom: 0;

					h6 {
						display: block;
						width: 100%;
						font-size: 25px;
						margin: 0;
						padding: 0 5px;
						color: white;
					}
					p {
						height: 40;
						color: white;
						margin: 0 0 10px 0;
						padding: 0 10px;
					}
				}
			}
		}
	}
}