@import "constants";



.user-card-holder {	
	height: 100px;
	margin-bottom: 10px;
	.user-card {
		border-bottom: 1px solid black;
		height: 100%;
		padding-bottom: 10px;

		.user-card-picture {
			height: 100%;
		}

		.user-card-info {
			p {
				margin: 0;
			}
		}
	}
}

.user-card.columns + .user-card.columns:last-child {
	border-bottom: 0px;
}